:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: outfit;
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: young;
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-bold {
  font-weight: 500;
}

.omelette-img {
  width: 100%;
  margin-bottom: 16px;
}

.container {
  padding: 32px;
}

.container h1 {
  font-family: young;
  margin-bottom: 24px;
}

.recipe-description {
  font-family: outfit;
  font-weight: 300;
  font-size: 1rem;
  color: var(--stone-600);
  margin-bottom: 32px;
}

.overview {
  background-color: var(--rose-50);
  padding: 32px;
  border-radius: 12px;
  font-family: outfit;
}

.overview-heading {
  color: var(--rose-800);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 16px;
}

.overview-list {
  color: var(--stone-600);
  list-style: square;
  list-style-position: outside;
  font-size: 1rem;
  padding-left: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.overview-list li {
  padding-left: 1rem;
}

.overview-list li::marker {
  color: var(--rose-800);
  font-size: 0.7rem;
  white-space: wrap;
}

.ingredients,
.instructions,
.nutrition {
  margin-top: 32px;
}

.ingredients h3,
.instructions h3,
.nutrition h3 {
  font-family: young;
  font-size: 1.5rem;
  color: var(--brown-800);
  margin-bottom: 18px;
}

.ingredients ul,
.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: outfit;
  color: var(--stone-600);
  padding-left: 16px;
  list-style-position: outside;
  font-weight: 300;
}

hr {
  margin: 24px 0;
  width: 100%;
  border: 0.5px solid var(--stone-150);
}

.ingredients li,
.instructions li {
  padding-left: 16px;
}

.ingredients li::marker,
.instructions li::marker {
  color: var(--brown-800);
}

.nutrition p,
.nutrition table {
  font-family: outfit;
  font-weight: 300;
}

.nutrition table {
  margin-top: 16px;
  border-collapse: collapse;
  width: 100%;
}

.nutrition table tr td {
  padding: 8px;
  font-family: 1rem;
  font-weight: 300;
  border-bottom: 1px solid var(--stone-150);
}

footer {
  margin: 16px;
  font-family: outfit;
}

footer .attribution a {
  color: var(--brown-800);
  text-decoration: none;
}
